table{ margin-left: auto; margin-right: auto;}
table TD {width: 4em; height:6em;border:10px solid white;text-align:center;}


#Player1 {margin-top: auto;    margin-bottom:200px;}
#Player2 {margin-top: auto;    margin-bottom:200px;}
IMG.card {width:4em; height:6em;}
