* {
  font-family: Monaco;
 }


table{ margin-left: auto; margin-right: auto; margin-top: auto;    margin-bottom:200px;}
table TD {width: 4em; height:6em;border:10px solid white;text-align:center;}
.opCard:hover {
    padding-left: 15px;
    padding-right: 15px;
    transform: scale(1.5); 
}

#center{
  width: 250px;
  height: 220px;
  border-style: groove;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -125px
}

#Sfou{
  text-align: center;
  width: 650px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -325px 0 0 -325px
}

.title{
  margin-bottom: 40px;
}



#Game_reset{
  position: fixed;
  bottom: 5px;
  left: 5px;
  
}



#copy {
  float :bottom;
  margin: 0 auto; 
  color: #A9A9A9;   
}


#footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #A9A9A9;   
} 

IMG.card {width:4em; height:6em;}


@media only screen and (min-width: 500px)  {
  #copy {
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
    color: #A9A9A9;   
  }
}