* {
  margin: 0;
  padding: 0;
  font-family: Monaco;
 }

 table{ margin-left: auto; margin-right: auto; margin-top: auto;    margin-bottom:200px;}
 table TD {width: 4em; height:6em;border:10px solid transparent;text-align:center;} 
 
#Game_board {
  position: fixed;
  top: 0px;
  z-index: 1000
}

.opCard:hover {
    padding-left: 15px;
    padding-right: 15px;
    transform: scale(1.5); 
}

#center{
  background-image: url(../images/king.png);
  background-position: center;
  background-repeat: no-repeat;
  width:350px;
  height: 423px;
  border-style: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -175px

}

#Sfou{
  text-align: center;
  width: 650px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -325px 0 0 -325px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:normal;
  color: aquamarine;
  background-color: rgb(102, 62, 62);
  border: 4px solid cadetblue;
}

.title{
  margin-bottom: 40px;
  font-size: xx-large;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold ;
  color: rgb(150, 71, 71);
}

.pl{
  border: 2px solid rgb(26, 77, 48);
  font-weight: bolder;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 90px;
  color:rgb(26, 77, 48);
  background-size: 9px 9px;
  background-image: repeating-linear-gradient(45deg, #809e7ab0 0, #809e7a9a 0.9px, #b0baa3a4 0, #b0baa3a2 50%);
}

#pvp{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bolder;
  background: rgba(51, 170, 51, 0.575);
  border: none;
}
#pvp:hover{
  background-color: rgba(51, 170, 51, 0.575);
  color: rgb(26, 77, 48);
  transition-duration: 1s;
  border: 4px solid rgb(26, 77, 48);
}

#pva{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bolder;
  background: rgba(51, 170, 51, 0.575);
  border: none;
}
#pva:hover{
  background-color: rgba(51, 170, 51, 0.575);
  color: rgb(26, 77, 48);
  transition-duration: 1s;
  border: 4px solid rgb(26, 77, 48);
}

#Game_reset{
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bolder;
  background: rgba(51, 170, 51, 0.575);
  border: none;
}
#Game_reset:hover{
  transition-duration: 1s;
  background-color: rgba(104, 113, 192, 0.575);
  color: rgb(11, 10, 75);
  border: 4px solid rgb(13, 17, 78);
}


#copy {
  float :bottom;
  margin: 0 auto; 
  color: #b1b1b1;   
}


#footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #b1b1b1;    
} 

IMG.card {width:4em; height:6em;}

.background-image{
  background-image:url(../images/greenBack.png);
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
}

#p{
 text-align:center;
 margin: -200px 0 0 -178px;
 width:356px;
 height: 500px;
 border: none;
 position: fixed;
 top: 40%;
 left: 50%;
 background-image: url(../images/king3.png);
 background-size: cover;
}

#login:hover{
  background-color: rgba(104, 113, 192, 0.575);
  color: rgb(11, 10, 75);
  transition-duration: 1s;
  border: 4px solid rgb(13, 17, 78);
}

#login{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bolder;
  background: rgba(51, 170, 51, 0.575);
  border: none;
  margin:100px 0px 0px 0px;
}

#information{
  margin:0px 70px 0px 70px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aquamarine;
  background-color: rgba(102, 62, 62, 0.445);
  border: 4px solid cadetblue;
}

#username{
  margin:50px;
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgba(104, 113, 192, 0.575);
  color: rgb(11, 10, 75);
  border: 2px solid rgb(13, 17, 78);
}

::placeholder{
  color: rgb(11, 10, 75);
  text-decoration: underline;
}

#position{
font-size: x-large;
font-weight: bolder;
font-family:'Courier New', Courier, monospace;
width:150px ;
margin:0px 0px 0px 40px;
text-decoration:underline;
background-color: rgba(104, 113, 192, 0.575);
color: rgb(11, 10, 75);
border: 2px solid rgb(13, 17, 78);
}

#turn{
  font-family:Arial, Helvetica, sans-serif;
  margin:20px;
  font-weight: bold;
  background-color: rgba(104, 113, 192, 0.575);
  color: rgb(11, 10, 75);
  border: 2px solid rgb(13, 17, 78);
}

@media only screen and (min-width: 500px)  {
  #copy {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
    color: #A9A9A9;   
  }
}